.reset {
  background-color: $color-background-secondary3;
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
  height: calc(100vh - 27.3rem);

  &:before {
    content: '';
    display: block;
    height: 5rem;
  }
  &:after {
    content: '';
    display: block;
    height: 5rem;
  }
}

.reset_wrapper {
  @extend %font-prim;
  background-color: $color-background-secondary;
  border: 2px solid $color-primary;
  padding: 4.45rem 2.7rem;
  text-align: center;
  border-radius: 0.5px;
  display: flex;
  flex-direction: column;
  max-width: 52.6rem;
  margin: auto;
  gap: 1.8rem;
}

.reset_form {
  @extend %font-add;
}

.title {
  font-size: 3rem;
}

.reset__textBox {
  height: 6rem;
  font-size: 1.8rem;
  display: inline-block;
  padding: 1.9rem 2rem;
  border-radius: 0.8rem;
  width: 100%;
  background: $color-background-secondary3;
  &:placeholder {
    color: $color-dark-placeholder;
  }
}

.label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.input_field {
  margin-bottom: 1rem;
}

.reset__btn {
  align-items: center;
  @extend %transition;
  padding: 2.05rem 5.65rem;
  background: $color-primary !important;
  border-radius: 0.8rem;
  @extend %font-prim;
  font-size: 2.4rem;
}

.reset__btn:hover {
  background: $color-hovered !important;
}

.error {
  text-align: left;
  font-size: 1.6rem;
  color: $color-input-error;
  padding-top: 0.6rem;
  padding-left: 3rem;
  position: relative;
  &:before {
    content: '';
    background: url('png/Error.png') no-repeat center center;
    background-size: 1.8rem 1.8rem;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 0.6rem;
    left: 0;
  }
}

.hidden {
  font-size: 1.6rem;
  visibility: hidden;
  padding-top: 0.6rem;
}

.link {
  font-size: 1.8rem;
}

.reset_bottom {
  font-size: 1.8rem;
}
