.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.5s ease;
  height: 100%;
  .welcome {
    color: white;
  }
  & > * {
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  & > *:hover {
    color: #62ab00;
  }
}

.header {
  height: 100px;
}

.sticky {
  position: sticky;
  top: 0;
  transition: height 0.5s;
  height: 60px;
  background-color: #333;
  z-index: 1;
}

.shrink {
  transition: height 0.5s;
  height: 40px;
}
