.dashboard {
  padding: 2.4rem 1.5rem;
  background-color: $color-background-secondary3;
  margin-top: -8px;
  margin-bottom: -8px;
}

.dashboard__endpoint_wrapper {
  background-color: #dcdcdc;
  padding: 1.3rem 0.5rem 0.5rem 3rem;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.dashboard__textarea {
  @extend %custom-scroll;
  @extend %font-query;
  width: 100%;
  overflow-y: auto;
}
.dashboard__buttons {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding-left: 1rem;
}

.dashboard__run_btn {
  background-image: url('./src/assets/png/Run.png');
  background-size: cover;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  @extend %transition;
}

.dashboard__prettify_btn {
  background-image: url('./src/assets/png/Prettify.png');
  background-size: cover;
  width: 4.5rem;
  height: 4rem;
  @extend %transition;
  cursor: pointer;
  position: relative;
  &:after {
    margin-top: 4.3rem;
    content: 'Prettify query';
    position: absolute;
    display: none;
    background-color: $color-background-secondary2;
    font-size: 1.8rem;
    color: $color-text;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    z-index: 1;
  }

  &:hover:after {
    display: block;
  }
}

.dashboard__wrapper {
  display: flex;
  gap: 1.5rem;
  padding-top: 1.4rem;
  height: 80vh;
  @include media-tablet {
    flex-direction: column;
    height: auto;
  }
}

.column1 {
  border-radius: 1rem;
  padding: 2.1rem;
  background-color: $color-background-secondary;
  .icon_doc {
    background-image: url('./src/assets/png/Docs.png');
    background-size: cover;
    width: 3.8rem;
    height: 4.3rem;
    @extend %transition;
    cursor: pointer;
  }
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 45%;
  border-radius: 1rem;
  background: $color-background-main;
  .row1 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2.1rem;
    display: flex;
    justify-content: space-between;
    background-color: $color-background-secondary;
    color: $color-text-query;
    font-size: 2rem;
  }
  .row2 {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem 2.1rem;
    display: flex;
    justify-content: space-between;
    background: $color-background-secondary;

    font-size: 2rem;
    .row2_wrapper {
      width: 90%;
    }
    .btn_wrapper {
      display: flex;
      gap: 4.5rem;
      color: $color-input-text;
      padding-bottom: 1rem;
      & > * {
        @extend %transition;
        cursor: pointer;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
      }
      & > *:hover {
        background: $color-background-secondary3;
      }
      & > *:disabled:hover {
        background: $color-background-secondary;
        cursor: default;
      }
    }
  }
  @include media-tablet {
    width: auto;
  }
}

.active {
  background: $color-background-secondary3;
}

.column3 {
  border-radius: 1rem;
  padding: 2.1rem 6rem;
  overflow-y: auto;
  @extend %custom-scroll;
  background-color: $color-background-secondary;
  width: 55%;
  .title {
    font-size: 2.8rem;
    padding-bottom: 2.5rem;
  }
  .response {
    font-size: 1.6rem;
    @extend %font-response;
  }
  @include media-tablet {
    height: 50vh;
    width: auto;
  }
}

.close_button {
  background-image: url('./src/assets/png/arrow-down.png');
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  cursor: pointer;
}

.open_button {
  background-image: url('./src/assets/png/arrow-up.png');
}

.height_row1 {
  height: 73vh;
  @include media-tablet {
    height: 50vh;
  }
}

.height_row2 {
  height: 7vh;
}

.add_height {
  height: 25vh;
}

.remove_height {
  height: 55vh;
  @include media-tablet {
    height: 50vh;
  }
}
