.dashboard {
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  padding: 30px;
  padding-top: 10px;
}
.dashboard__endpoint_wrapper {
  width: 100%;
  background-color: #dcdcdc;
  padding: 5px;
  padding-left: 30px;
  text-align: start;
}
.dashboard__endpoint_input {
  margin-left: 20px;
  padding: 5px;
  width: 80%;
}
.dashboard__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}
.dashboard__container {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  text-align: start;
  background-color: #dcdcdc;
  padding: 30px;
  position: relative;
}
.dashboard__textarea {
  height: 100%;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard__run_btn {
  background-image: url('/run.png');
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2%;
  top: 2%;
}
.dashboard__run_btn:hover {
  background-color: #bebdbd;
}

.dashboard div {
  margin-top: 7px;
}
.main__wrapper {
  background-color: #dcdcdc;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
