$color-primary: #1962ab;
$color-background-main: #1e1c1c;
$color-background-secondary: #282a2c;
$color-background-secondary2: #2d3134;
$color-background-secondary3: #32373c;
$color-dark-placeholder: #6f6f6f;
$color-input-error: #ce2f2f;
$color-input-text: #d7d7d7;
$color-hovered: #264d74;
$color-text: #ffffff;
$color-text-query: #77c284;

$color-grey: rgba(2, 20, 32, 0.5);
$color-black: #000000;
$color-green: #42ab6a;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 414px;
