@import './src/assets/fonts/fonts.css';

%transition {
  transition: all 0.3s ease-out;
}
%font-prim {
  font-family: 'SF Pro Display Bold', sans-serif;
}

%font-add {
  font-family: 'SF Pro Display Semibold', sans-serif;
}

%font-query {
  font-family: 'JetBrains Mono Medium', sans-serif;
}

%font-response {
  font-family: 'JetBrains Mono Regular', sans-serif;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 0.8rem;
    background: #1e1c1c;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: #32373c;
    border-radius: 10px;
  }
}

%transition {
  transition: all 0.3s ease-out;
}
