header {
  background: $color-background-secondary;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sticky {
  position: sticky;
  top: 0;
  transition: height 0.5s;
  height: 8.5rem;
  z-index: 1;
}

.shrink {
  transition: height 0.5s;
  height: 6.5rem;
}

.welcome {
  font-size: 2.8rem;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.home {
  font-size: 2.8rem;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 4.2rem;
  align-items: center;
  height: 100%;
  @include media-mobile {
    padding: 0 1rem;
  }
}

.navigation_left {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  @include media-mobile {
    gap: 1rem;
  }
}
.navigation_right {
  display: flex;
  gap: 17rem;
  align-items: center;
  @include media-big-tablet {
    gap: 2rem;
  }
}
.buttons {
  display: flex;
  gap: 2rem;
  @include media-mobile {
    gap: 0.5rem;
  }
}

.link {
  padding: 0.95rem 2rem;
  text-align: center;
  background: $color-primary;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  @extend %font-add;
  cursor: pointer;
  @extend %transition;
  &:hover {
    background: $color-hovered;
  }
  @include media-mobile {
    padding: 0.95rem 1rem;
  }
}
.logo {
  background-image: url('./src/assets/png/Logo.png');
  width: 6rem;
  height: 6rem;
  background-size: cover;
}

.settings {
  background-image: url('/png/Vector.png');
  width: 2.4rem;
  height: 2.4rem;
  background-size: cover;
  cursor: pointer;
  @include media-mobile {
    width: 2rem;
    height: 2rem;
  }
}
