.logo {
  width: 120px;
  height: auto;
}

.footer {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 3rem 3rem;
  text-align: center;
  background: $color-background-secondary;
}

a {
  @extend %transition;
  color: $color-text;
}

.wrapper_logo {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_github {
  display: flex;
  flex-direction: column;
  text-align: left;
}
