.welcome {
  background-color: $color-background-secondary3;
  background-image: url('./src/assets/jpg/home-bg.jpg');
  min-height: 1285px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -70px;
}
.navigation {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 1rem;
  .link {
    color: black;
    transition: all 0.5s ease;
    &:hover {
      color: #62ab00;
    }
  }
}

.welcome_top {
  display: flex;
  padding-left: 4.3rem;
  padding-right: 7.2rem;
  justify-content: space-between;
  @include media-big-tablet {
    flex-wrap: wrap;
  }
}

.welcome_top_left {
  display: flex;
  flex-direction: column;
  padding-top: 20.5rem;
  align-items: center;
  max-width: 78.7rem;
  @include media-big-tablet {
    margin: auto;
  }
}

.title {
  @extend %font-prim;
  font-size: 6.5rem;
  padding-bottom: 10.2rem;
  text-align: center;
}

.subtitle {
  @extend %font-prim;
  font-size: 4rem;
  padding-bottom: 7.6rem;
  text-align: center;
  max-width: 654px;
}
.buttons {
  display: flex;
  gap: 6.2rem;
  @include media-laptop {
    gap: 4rem;
  }
}

.link {
  padding-top: 2.05rem;
  padding-bottom: 2.05rem;
  width: 24.4rem;
  background: $color-primary;
  border-radius: 1rem;
  font-size: 4rem;
  @extend %font-prim;
  cursor: pointer;
  text-align: center;
  @extend %transition;
  &:hover {
    background: $color-hovered;
  }
  @include media-mobile {
    width: 19.2rem;
  }
}

.welcome_top_right {
  max-width: 78.7rem;
  padding-top: 16.1rem;
  display: flex;
  flex-direction: column;
  gap: 7.7rem;
  @include media-big-tablet {
    margin: auto;
  }
}

.welcome_top_right_title {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  margin: auto;
  text-align: center;
  column-gap: 2.4rem;
  row-gap: 2rem;
}

.query {
  max-width: 42.1rem;
  max-height: 36.9rem;
  @include media-laptop {
    max-width: 36.1rem;
    max-height: 30.9rem;
  }
  @include media-mobile {
    margin: auto;
  }
}

.response {
  max-width: 49.8rem;
  max-height: 22.1rem;
  margin: auto;
  @include media-laptop {
    max-width: 43.8rem;
    max-height: 36.1rem;
  }
}

.welcome_top_right_top {
  display: flex;
  gap: 4.2rem;

  @include media-mobile {
    flex-wrap: wrap;
  }
}
